.give-nav-tab-wrapper {
  background-color: transparent;
}

.give-tipping-control-wrapper {
}

.gt-up-button {
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 600;
  text-decoration: none;
  padding: 1px 5px;
  color: #0042be;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.gt-up-button svg {
  height: 20px;
  width: 20px;
}

.gt-remove-button {
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 600;
  text-decoration: none;
  padding: 1px 5px;
  color: #f75757;
  font-size: 20px;
  cursor: pointer;
}

.gt-remove-button svg {
  height: 20px;
  width: 20px;
}

.gt-click-area-wrapper label > input {
  display: none;
}

.gt_add_field_icon,
.gt_add_field_label{
  color: #66bb6a;
  font-weight: 700;
}

#gt-append_body .form-table td{
  position: relative;
}
