#give-donation-tip-level-button-wrap {
  margin: 0 0 15px;
  padding: 0;
  clear: both;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
}

#give-donation-tip-level-button-wrap > li:last-child {
  display: block;
}

#give-donation-tip-level-button-wrap > li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  margin: 0 5px 5px 0;
}

.give-tip-amount-label {
  margin: 15px 0;
}

.give_tip-message-label {
  margin-bottom: 20px;
  font-size: 14px;
}

.give-btn.give-tip-default-level {
  background-color: #ff9f0d;
  border-color: #ff9f0d;
  color: #fff;
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}

.give-btn:disabled:hover {
  color: #000;
  background-color: #f7f8f9;
  border-color: #f7f8f9;
}
